.admin-dashboard {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.admin-dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px;
  flex-wrap: wrap;
}

.admin-dashboard__header h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 0;
  margin-left: 2rem;
}

.admin-dashboard__content {
  padding-inline: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.admin-dashboard__welcome {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 0;
  font-weight: 500;
  white-space: nowrap;
}

.admin-dashboard__overview,
.admin-dashboard__lecturer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.admin-dashboard__lecturer {
  flex: 1;
}

.admin-dashboard__lecturer-search .courses__search__container {
  padding: 0;
}

.admin-dashboard__lecturer-search-results-container {
  height: 400px;
  max-height: 400px;
}

.admin-dashboard__overview h2,
.admin-dashboard__lecturer h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.admin-dashboard__overview .admin-dashboard__card,
.admin-dashboard__lecturer .admin-dashboard__card,
.admin-dashboard__course .admin-dashboard__card {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.admin-dashboard__overview .admin-dashboard__card h3,
.admin-dashboard__lecturer .admin-dashboard__card h3,
.admin-dashboard__course .admin-dashboard__card h3 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0;
}

.admin-dashboard__overview-quick {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.admin-dashboard__overview-quick .admin-dashboard__card,
.admin-dashboard__lecturer-overview .admin-dashboard__card,
.admin-dashboard__course-overview .admin-dashboard__card {
  flex: 0 0 calc(50% - 20px);
}

.admin-dashboard__overview-quick .admin-dashboard__overview-card {
  flex: 1;
  height: 100%;
  margin: unset;
  cursor: pointer;
  background-color: var(--primary-color);
  max-width: 400px;
  text-decoration: none;
}

.admin-dashboard__overview-quick .admin-dashboard__overview-card h3 {
  color: white;
}

.admin-dashboard__lecturer-search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-dashboard__lecturer-search h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 0;
}

.admin-dashboard__lecturer-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;
  flex-wrap: wrap;
}

.admin-dashboard__lecturer-search-input {
  width: 100%;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  outline: none;
}

.admin-dashboard__lecturer-search-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.admin-dashboard__lecturer-search-button:hover {
  background-color: #0056b3;
}

.admin-dashboard__lecturer-search-results h3 {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.admin-dashboard__lecturer-search-results-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg-color);
  padding: 0.5rem;
  margin-bottom: 10px;
}

.admin-dashboard__lecturer-search-results-item:last-child {
  border-bottom: none;
}

.admin-dashboard__lecturer-search-results-item h3 {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
}

.admin-dashboard__lecturer-search-results-button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.admin-dashboard__lecturer-search-results-button:hover {
  background-color: #4a545b;
}

.admin-dashboard__course h2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.admin-dashboard__course-view-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.admin-dashboard__course-view-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.admin-dashboard__course-view-item h3 {
  font-size: 1rem;
  color: var(--dark-color);
  margin: 0;
}

.admin-dashboard__course-view-button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.admin-dashboard__course-view-button:hover {
  background-color: #4a545b;
}

.admin-dashboard__lecturer-search-filter {
  position: relative;
}

.admin-dashboard__lecturer-search-filter svg {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.admin-dashboard__lecturer-search-filter-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-dashboard__lecturer-search-filter-dropdown.show {
  opacity: 1;
  pointer-events: all;
}

.admin-dashboard__lecturer-search-filter-dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

@media (max-width: 520px) {
  .admin-dashboard__overview-quick {
    flex-direction: column;
  }

  .admin-dashboard__overview-quick .admin-dashboard__overview-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .admin-dashboard__lecturer-search-button {
    flex: 100%;
  }
}

@media (max-width: 360px) {
  .admin-dashboard__lecturer-search-filter {
    display: none;
  }
}

@media (max-width: 630px) {
  .admin-dashboard__header > * {
    order: 2;
  }

  .admin-dashboard__welcome {
    flex: 100%;
    order: 1;
    margin-left: 2rem;
    font-size: 1rem;
  }
}
