.user__dashboard {
  width: 100%;
}

.user__dashboard .dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__complete__indicator {
  width: 100%;
  height: 40px;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: var(--box-shadow);
  background-color: white;
}

.profile__complete__indicator > div {
  position: relative;
  border-radius: 20px;
  background-color: var(--primary-color);
  width: 0%;
  height: 100%;
  transition: all 0.3 ease;
}

.profile__complete__indicator > div span {
  position: absolute;
  bottom: calc(100% + 8px);
  right: -10px;
  background-color: var(--primary-color);
  color: white;
  padding: 4px;
  font-size: small;
  border-radius: 4px;
}

.profile__complete__indicator__list__container {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.profile__complete__indicator__list__container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile__complete__indicator__list__container li {
  display: flex;
  gap: 4px;
  align-items: center;
}

.profile__complete__indicator__list__container a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.profile__complete__indicator__list__container a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.user-dashboard__info__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  width: 100%;
  gap: 1rem;
}

.user-manage__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.user-manage__container a {
  background-color: var(--primary-color);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 400px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding-inline: 8px;
  white-space: nowrap;
}

.user-dashboard__courses__container {
  overflow-x: auto;
  width: 100%;
}

.no__assigned__text {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.user-dashboard__info__container table {
  width: 100%;
  border-collapse: collapse;
}

.user-dashboard__info__container table thead {
  background-color: var(--primary-color);
  color: white;
}

.user-dashboard__info__container table thead th {
  padding: 8px;
  text-align: left;
}

.user-dashboard__info__container table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-dashboard__info__container table tbody tr td {
  padding: 8px;
}