.home__footer {
  color: var(--text-color);
  padding: 2rem 0;
  text-align: center;
  background-color: var(--bg-color);
  min-height: calc(100vh - var(--nav-height));
  min-height: calc(100dvh - var(--nav-height));
  display: flex;
  flex-direction: column;
}

.home__footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.home__footer__content__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.home__footer__content__section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home__footer__content__section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home__footer__content__section ul li {
  margin-bottom: 0.5rem;
}

.home__footer__content__section ul li a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__footer__content__section ul li a svg {
  margin-right: 0.5rem;
}

.home__footer__content__section ul li a:hover {
  color: var(--color-primary-dark);
}

.home__footer small {
  font-size: 1.2rem;
  display: block;
  margin-top: auto;
}
