:root {
  /* COLORS */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --404-color: #f44336;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --nav-bg-color: #fff;
  --nav-text-color: #000;
  --nav-text-color-hover: #000;
  --bg-color: #f5f5f5;

  /* SIZES */
  --nav-height: 5rem;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scrollable {
  overflow-y: auto;
}

.scrollable > div {
  display: flex;
  flex-direction: column;
}