.dashboard__nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  color: var(--nav-text-color);
  width: 100%;
  pointer-events: none;
  box-shadow: var(--box-shadow);
}

.dashboard__nav__menu {
  pointer-events: all;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  padding-top: 4rem;
  gap: 1rem;
  box-shadow: var(--box-shadow);
}

.dashboard__nav__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--nav-bg-color);
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--primary-color);
  text-decoration: none;
}

.dashboard__nav__header__logo {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.dashboard__nav__header__logo img {
  width: 100%;
  height: 100%;
}

.dashboard__nav__header__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboard__nav__menu__icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  cursor: pointer;
  pointer-events: all;
  color: #000;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.dashboard__nav.show .dashboard__nav__menu {
  left: 0;
}

.dashboard__nav__link {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
  color: var(--nav-text-color);
  transition: all 0.3s ease-in-out;
}

.dashboard__nav__link.active {
  background-color: var(--primary-color);
  color: var(--nav-bg-color);
}

.dashboard__nav__link span {
  font-size: 1.2rem;
}

.dashboard__nav__link__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.dashboard__nav__link:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.dashboard__nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.dashboard__nav.show .dashboard__nav__overlay {
  opacity: 1;
  pointer-events: all;
}

.dashboard__nav__logout {
  background-color: var(--danger-color);
  color: #fff;
}

@media (min-width: 1200px) {
  .dashboard__nav {
    position: sticky;
    width: 100%;
    display: flex;
    pointer-events: all;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    top: 0;
  }

  .dashboard__nav__menu {
    left: unset;
  }

  .dashboard__nav__menu__icon {
    display: none;
  }

  .dashboard__nav__link {
    padding: 1rem 2rem;
  }

  .dashboard__nav__overlay {
    display: none;
  }
}
