.construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 0 1rem;
  text-align: center;
}

.construction h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.construction p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark-color);
}

.construction p:last-child {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .construction h1 {
    font-size: 2.5rem;
  }
  .construction p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .construction h1 {
    font-size: 2rem;
  }
  .construction p {
    font-size: 1rem;
  }
}
